<% provide(:title, "Dashboard") %>
<% provide(:admin_title, @model) %>
<% @index.each do |row| %>
    <% @model.column_names.each do |column| %>
         <p><%= to_uppercase column %> => <%= row.send(column)%></p>
    <% end %>

<% end %>