- provide(:title, "New #{@model}")
- provide(:button_text, 'Create')

h2 New #{@model}
= link_to 'Back to List', admin_model_rows_path(@model.name.underscore), class: "btn btn-default"
= simple_form_for @row, url: admin_create_model_row_path do |f|
  = render "form_#{@model.name.underscore}", f: f