= simple_form_for @user do |f|

  = f.input :first_name,
              placeholder: "First Name",
              class: "form-control",
              maxlength: User::NAME_LENGTH_MAX

  = f.input :last_name,
              placeholder: "Last Name",
              class: "form-control",
              maxlength: User::NAME_LENGTH_MAX

  = f.input :email,
              placeholder: "Email",
              class: "form-control",
              maxlength: User::EMAIL_LENGTH_MAX
  - if yield(:edit).blank?
    = f.input :password,
                placeholder: "Password",
                class: "form-control",
                maxlength: User::PASSWORD_LENGTH_MAX

    = f.input :password_confirmation,
                placeholder: "Password confirmation",
                class: "form-control",
                maxlength: User::PASSWORD_LENGTH_MAX

  = f.submit yield(:button_text), class: "btn btn-primary"